---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <p>{{site.about-author}}</p>
    </div>
  </header> <!-- End Header -->
  <footer>
    <section class="contact">
      <h3 class="contact-title">Contact me</h3>
      <ul>
        {% if site.social-telegram %}
          <li><a href="https://t.me/{{ site.social-telegram }}" target="_blank"><img height="18" width="18" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/telegram.svg" /></a></li>
        {% endif %}
        {% if site.social-mastodon %}
          <li><a href="https://{{ site.social-mastodon }}" target="_blank"><img height="18" width="18" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/mastodon.svg" /></a></li>
        {% endif %}
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
